body {
    box-sizing: border-box;
    background: #fff;
    font-family: 'Encode Sans Expanded', sans-serif;
    margin: 0px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: red;
   
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
    opacity:0.8;
}


h1,
h2,
h3 {
    font-family: 'Archivo Black', sans-serif;
    text-align: center;
    margin-top: 30px;
}

h1 .fa {
    color: gold;
    margin: 5px;
}

h1 .fa:hover {
    opacity: 0.8;
    transition: 1s;
}

span {
    color: green;
}

.col-md-12 .fa {
    color: gold;
    padding: 3px;
    padding: 5px;
    margin-bottom: 30px;
}

.btn1 {
    width: 150px;
    height: 50px;
    background-color: transparent;
    border-color: #55CB3C;
    color: #55CB3C;
    border-radius: 20px;
    
    margin-top: 30px;
    margin-bottom: 20px;
}


/*Nav style*****************************************************************************************************************************************/

.navbar-default {
    height: 80px;
    background: #fff;
    margin: 0px;
    border: transparent;
}

.navbar-brand>img {
    height: 50px;
}


/*Header style*/

.carousel-control.right,
.carousel-control.left {
    background: transparent;
}

.carousel-inner>.item>img {
    margin: auto;
}


/*Tropidog1 style******************************************************************************************************************/

#tropidog-contact {
    text-align: left;
}

#tropidog1 .col-md-12 {
    text-align: center;
}

#tropidog1 .col-md-12 .fa {
    border-radius: 50%;
    color: #4CAF50;
    font-size: 4em;
    background: #171616;
    width: 60px;
    height: 60px;
    line-height: 60px;
}

#tropidog1 .col-md-6 {
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#tropidog1 .col-md-6::after {
    content: "";
    border-bottom: 1px solid black;
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#tropidog1 .col-md-6 .fa {
    width: 60px;
    height: 60px;
}




/*TropidogSuper Section*/

#tropidogSuper-content {
    display: none;
    background: green;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}



#tropidogPremium-content {
    display: none;
    background: green;
    color: #fff;
    border-radius: 5px;
    margin-bottom: 10px;
}




/*logoBackground*****************************************************************************/

#baner {
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url(../img/zoogo-baner-glowny.jpg);
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
    color: #fff;
    
}

#baner .row{
    position: absolute;
   top:40%;
    left: 50%;
   
    transform: translate(-50%,-50%);
}

#baner h3{
    opacity:0.8;
}

#baner figure{
    width: 50px;
    height: 50px;
    border:1px solid #fff;
 border-radius:50%;
    line-height: 50px;
   
}

#baner figure a .fa{
    color:#fff;
   
}

#baner figure a .fa:hover{
    color:green;
   
}

/*Section choose**********************************************/

#choose .btn-lg{
    width: 180px;
    height: 50px;
    margin:5px;
    border-radius: 15px;
}

#smallDog{
    display:none;
    background-color: green;
    border-radius:5px;
}

#mediumDog{
    display:none;
   background-color:skyblue;
    border-radius:5px;
}
#largeDog{
    display:none;
    background-color: red;
    border-radius:5px;
}


/*Section Pay-------------------------------------------------*/

#pay {
    margin-top: 30px;
    margin-bottom: 30px;
}

#pay .col-md-12 img {
    width: 80%;
}


/*footer********************************************************************************************************************/

footer {margin:0px;
    background: green;
    color: #fff;
}

footer address {
    font-family: 'Encode Sans Expanded', sans-serif;
}

footer.fa,
a {
    font-size: 1.2em;
    display: block;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: orange;
}

footer a:focus {
    color: #fff;
}

footer .social {
    display: inline;
    margin: 5px;
}

footer .fa-facebook-square{
   color: blue;
}

footer .col-md-6 {
    margin-bottom: 15px;
}